{% extends 'base.html.twig' %}


{% block body %}
    <select onchange="changeForm()" id="playerCountSelect" class="form-control">
            <option value="1" selected>1 Gegen 1</option>
            <option value="2">2 Gegen 2</option>
            <option value="3">1 Gegen 2</option>
    </select>

    <form method="post" id="form_1vs1" class="d-none">
        <div class="form-group">
            <label for="Username" for="player1">Team1</label>
            <select class="form-control" name="team1_player1" id="player1">
                <option>Bitte wählen</option>
                {% for user in users %}
                    <option value="{{ user.id }}">{{ user.username }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <label for="Username" for="player2">Team2</label>
            <select class="form-control" name="team2_player1" id="player2">
                <option>Bitte wählen</option>
                {% for user in users %}
                    <option value="{{ user.id }}">{{ user.username }}</option>
                {% endfor %}
            </select>
        </div>
        <button class="btn btn-primary active" role="button" aria-pressed="true">Abfahrt</button>
    </form>

    <form method="post" id="form_1vs2" class="d-none">
            <div class="form-group">
                <label for="Username" for="player1">Team1</label>
                <select class="form-control" name="team1_player1" id="player1">
                    <option>Bitte wählen</option>
                    {% for user in users %}
                        <option value="{{ user.id }}">{{ user.username }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="Username" for="player1">Team2</label>
                <select class="form-control" name="team2_player1" id="player1">
                    <option>Bitte wählen</option>
                    {% for user in users %}
                        <option value="{{ user.id }}">{{ user.username }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="Username" for="player1"></label>
                <select class="form-control" name="team2_player2" id="player2">
                    <option>Bitte wählen</option>
                    {% for user in users %}
                        <option value="{{ user.id }}">{{ user.username }}</option>
                    {% endfor %}
                </select>
            </div>
        <button class="btn btn-primary active" role="button" aria-pressed="true">Abfahrt</button>
    </form>

    <form method="post" id="form_2vs2" class="d-none">
        <div class="form-group">
            <label for="Username" for="player1">Team1</label>
            <select class="form-control" name="team1_player1" id="player1">
                <option>Bitte wählen</option>
                {% for user in users %}
                    <option value="{{ user.id }}">{{ user.username }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="Username" for="player1"></label>
            <select class="form-control" name="team1_player2" id="player2">
                <option>Bitte wählen</option>
                {% for user in users %}
                    <option value="{{ user.id }}">{{ user.username }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <label for="Username" for="player2">Team2</label>
            <select class="form-control" name="team2_player1" id="player1">
                <option>Bitte wählen</option>
                {% for user in users %}
                    <option value="{{ user.id }}">{{ user.username }}</option>
                {% endfor %}
            </select>
        </div>
    <div class="form-group">
            <label for="Username" for="player2"></label>
            <select class="form-control" name="team2_player2" id="player2">
                <option>Bitte wählen</option>
                {% for user in users %}
                    <option value="{{ user.id }}">{{ user.username }}</option>
                {% endfor %}
            </select>
        </div>
        <button class="btn btn-primary active" role="button" aria-pressed="true">Abfahrt</button>
    </form>


{% endblock %}

{% block javascripts %}
    <script>
        function changeForm() {
            let formType = parseInt($('#playerCountSelect').val());

            if (formType === 1) {
                $('#form_1vs1').removeClass('d-none');
                $('#form_1vs2').addClass('d-none');
                $('#form_2vs2').addClass('d-none');

            } else if (formType === 2) {
                $('#form_1vs1').addClass('d-none');
                $('#form_1vs2').addClass('d-none');
                $('#form_2vs2').removeClass('d-none');
            } else if (formType === 3) {
                $('#form_1vs2').removeClass('d-none');
                $('#form_1vs1').addClass('d-none');
                $('#form_2vs2').addClass('d-none');
            }
        }

        changeForm();
    </script>
{% endblock %}