{% extends 'base.html.twig' %}


{% block body %}
    <form method="post">
    <div class="form-group">
        <label for="Username">Team1</label>
        <select class="form-control" name="team1[]" id="player1">
            <option>Bitte w채hlen</option>
            {% for user in users %}
                <option value="{{ user.id }}">{{ user.username }}</option>
            {% endfor %}
        </select>

    </div>
    <div class="form-group">
        <label for="Username"></label>
        <select class="form-control" name="team1[]" id="player1">
            <option>Bitte w채hlen</option>
            {% for user in users %}
                <option value="{{ user.id }}">{{ user.username }}</option>
            {% endfor %}
        </select>
    </div>
        <div class="form-group">
            <label for="Username">Team2</label>
            <select class="form-control" name="team2[]" id="player1">
                <option>Bitte w채hlen</option>
                {% for user in users %}
                    <option value="{{ user.id }}">{{ user.username }}</option>
                {% endfor %}
            </select>

        </div>
        <div class="form-group">
            <label for="Username"></label>
            <select class="form-control" name="team2[]" id="player1">
                <option>Bitte w채hlen</option>
                {% for user in users %}
                    <option value="{{ user.id }}">{{ user.username }}</option>
                {% endfor %}
            </select>
        </div>
        <button class="btn btn-primary active" role="button" aria-pressed="true">Abfahrt</button>
    </form>
{% endblock %}