{% extends 'base.html.twig' %}


{% block body %}
        <div class="btn-group" role="group">
        <a href="{{ url('home') }}" class="btn btn-primary" tabindex="-1" role="button" >Team1 Win</a>
        <a href="{{ url('home') }}" class="btn btn-primary" tabindex="-1" role="button" >Team1 Rassur</a>
        <a href="{{ url('home') }}" class="btn btn-danger" tabindex="-1" role="button"  >Team1 Blitz KO</a>
        </div>
        <div class="btn-group" role="group">
        <a href="{{ url('home') }}" class="btn btn-primary" tabindex="-1" role="button" >Team2 Win</a>
        <a href="{{ url('home') }}" class="btn btn-primary" tabindex="-1" role="button" >Team2 Rassur</a>
        <a href="{{ url('home') }}" class="btn btn-danger" tabindex="-1" role="button"  >Team2 Blitz KO</a>
        </div>
{% endblock %}