{% extends 'base.html.twig' %}


{% block body %}

        <div class="card-deck">
            {% for i,user in users %}

                {% if i + 1 < 4 %}
                    <div class="card" >
                        <img src="{#  asset('bild_zum_bild/card_' + i + '.png') #}"  class="card-img-top" >
                        <div class="card-body">
                            <h5 class="card-title">{{ i + 1 }} - {{ user.username }} - {{ user.point }} <br /></h5>
                            <p class="card-text"></p>
                        </div>
                    </div>
                {% endif %}

            {% endfor %}
        </div>
    <div class="mt-3"></div>
    <ul class="list-group">
        {% for i,user in users %}
            {% if i + 1 >= 4 %}
                <li class="list-group-item">{{ i + 1 }} - {{ user.username }} - {{ user.point }} <br /></li>
            {% endif %}
        {% endfor %}
    </ul>


{% endblock %}